.App {
  display: block;
  height: 100%;

}

.App-header {
  height: 50px;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.25em;
  margin: 0;
  text-shadow: 1px 1px #696969;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.room-navigation {
  float: left;
  list-style: none;
  background-color: #b0c4de;
  width: 25%;
  height: 100%;
  margin: 0;
  bottom: 0;
  position: fixed;
}

.message-list {
  float: right;
  padding-top: 20px;
  margin-left: 0;
  margin-right: 0;
  width: 75%;
  background-color: #fff0f5;

}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
