.App {
  display: block;
  height: 100%;

}

.App-header {
  height: 50px;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.25em;
}

.room-navigation {
  float: left;
  list-style: none;
  background-color: #C0C0C0;
  width: 20%;
  height: 100%;
}

.message-list {
  float: right;
  margin: 20px;
  width: 75%;

}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
